# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [4]:
numberfloat = 2.3
print(numberfloat)
print(numberfloat)
numberfloat = 7.3
print(numberfloat)

2.3
2.3
7.3

#### Performing Calculations on ints and floats

##### Addition

In [1]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

# result += 2
print(result + 2)

7.4
9.4

##### Subtraction

In [2]:
result_diff = num2 - num1
print(result_diff)
result_diff -= 1
print(result_diff - 1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [20]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [23]:
result_div = num2/num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [26]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [29]:
result_mod = 13 % 2
print(result_mod)

result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [31]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [35]:
name = "Brandon"
print(name)

Brandon

##### print() <br>
<p>Don't forget about end=' '</p>

In [39]:
print("This is my first name: ", name)

print("Full_name:", name, end=" Apol")

This is my first name:  Brandon
Full_name: Brandon Apol

##### String Concatenation

In [44]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

full_name += " Jr."
print(full_name)

John Smith
John Smith Jr.

##### Type Conversion

In [46]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num + 1)

32
33

##### input()

In [51]:
# Input will always return a string.

name = input("What is your name?")
print("Nice to meet you, " + name)

age = int(input("What is your age?: "))
add_age = age + 5
print(add_age)

What is your name?m
Nice to meet you, m
What is your age?: 34
39

##### format()

In [56]:
age = input("What is your age? ")
result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

What is your age? 34
You are 34 m and you are getting wiser!
34 is a great time in life!!!

##### Old Way (python 2)

In [57]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 34 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [3]:
name = input("What is your name?")

print("Nice to meet you, " + name)

age = input("What is your age? ")
result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)

car_color = input("What is the color of your car?: ")
car_year = input("What is the year of your car?: " )
car_make = input("What is the make of your car?: ")
car_model = input("What is the model of your car?: ")

results = f"Your car color is a {car_color} car. That was made in {car_year} and the make is a {car_make} and a {car_model} model."
print(results)

What is your name?matthew
Nice to meet you, matthew
What is your name?m
Nice to meet you, m
What is your age? 6
You are 6 m and you are getting wiser!
What is the color of your car?: r
What is the year of your car?: r
What is the make of your car?: r
What is the model of your car?: r
Your car color is a r car. That was made in r and the make is a r and a r model.

### If Statements

In [4]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 0

# if num1 == num2:
#     print("Equal Values!")
# else:
#     print("Not Equal!")
    
if num2 < num1 or num3 > 0:
    print("Num2 is greater!")
    
elif num1 > num2:
    print("Num1 is greater!")
    
else:
    print("Equal Values")

Num2 is greater!

##### 'is' keyword

In [4]:
#The 'is' keyword is for checking for the same object, but not the same value.

num3 == 55

if num3 == 55:
    print("This is the exact number/object.")

This is the exact number/object.

##### 'in' keyword

In [6]:
# If a character is in a string.

char_name = "Frodo Baggins"
if "Frodo" in char_name:
    print("The Ring Bearer")

The Ring Bearer

##### 'not in' keyword'

In [ ]:
sega_char = "Sonic"

if "a" not in sega_char:
    print("a is NOT here...")

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [15]:
char_input = input("Please tell me your favorite Nintendo Character: ")

if 'p' in char_input:
    print("That is the right character!")
else:
    print("That is not the right character!")

Please tell me your favorite Nintendo Character: peach
That is the right character!

## Using 'and'/'or' with If Statements

In [16]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# If with 'and' statement
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
# If with 'or' statement 
if num_11 > num_12 or num_13 == num_14:
    print('True and False')

True and True
True and False

### Elif Statements

In [18]:
first_name = input('What is your name? ')

if first_name == 'Smith':
    print('The name Smith.')
    
elif first_name == 'Matthew':
    print('The name is Matthew.')
elif first_name != 'Max':
    print('The name is NOT Max')
else:
    print('The name is Max')

What is your name? Matthew
The name is Matthew.

### Else Statements

In [ ]:
# see above

### For Loops

In [20]:
# For Syntax
# for counter in condition

name = 'Matthew Williams'
a_list = [1, 2, 3, 4]

for i in a_list:
    print(i)

1
2
3
4

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [31]:
name = 'Matthew Williams'

for i in name:
    if i == 'a':
        continue
    print(i)

M
t
t
h
e
w

W
i
l
l
i
m
s

##### Break Statement

In [24]:
# will break out of current loop

In [32]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass

##### Double For Loops

In [33]:
for i in range(5):
    for j in range(5):
        print('i = j', i, 'j = ', j)

i = j 0 j =  0
i = j 0 j =  1
i = j 0 j =  2
i = j 0 j =  3
i = j 0 j =  4
i = j 1 j =  0
i = j 1 j =  1
i = j 1 j =  2
i = j 1 j =  3
i = j 1 j =  4
i = j 2 j =  0
i = j 2 j =  1
i = j 2 j =  2
i = j 2 j =  3
i = j 2 j =  4
i = j 3 j =  0
i = j 3 j =  1
i = j 3 j =  2
i = j 3 j =  3
i = j 3 j =  4
i = j 4 j =  0
i = j 4 j =  1
i = j 4 j =  2
i = j 4 j =  3
i = j 4 j =  4

### While Loops

In [34]:
#Sytax:
#While keyword, condition statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [37]:
game_over = True

while game_over:
    print('Infinate Loop')
    user_input = input('Would you like to stop? ')
    if user_input == 'Yes':
        game_over = False

Infinate Loop
Would you like to stop? yes
Infinate Loop
Would you like to stop? Yes

##### While & For Loops Used Together

In [38]:
num = 0

while num < 5:
    print('\n While loop iteration: ' + str(num))
    
    for i in range(2):
        print('For loop iteration: ', str(i))
        
        num += 1

 While loop iteration: 0
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 2
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 4
For loop iteration:  0
For loop iteration:  1

### Built-In Functions

##### range()

In [1]:
# range(start, stop, step)

for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### len()

In [3]:
name = input("Give me the name of your favorite book: ")

length = len(name)
print(length)

Give me the name of your favorite book: dune
4

##### help()

In [4]:
# Use this function to view more info about a python function.

help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [14]:
# Check a variable to find out what object family (or data type) it belongs to.
#isinstance(var, type)

#First Example
print(isinstance(num, int))

#second Example
if isinstance(4.5, float):
    print("This number is a float type.")

#Third Example    
num = 4.5
if isinstance(num, int):
    print(f"{num} is an int!")
else:
    print(f"{num} is a float!")

True
This number is a float type.
4.5 is a float.

##### abs()

In [15]:
# |5| = 5

print(abs(-5))

5

### Try and Except

In [26]:
# Use this to log out graceful and usefull error messages.
#Does not stop the program. Neato!

try:
    input_num = int(input('Guess a number'))
    print('Your number is ' + str(input_num))
except:
    print("That did not work! Change your input to a number!")

Guess a number5.5
That did not work! Change your input to a number!

### Lists

##### Declaring Lists

In [2]:
list_1 = []

names = ['Max', 'Cindy', 'Kathy', "bob", 'Nate']
print(names)

print(isinstance(names, list))

['Max', 'Cindy', 'Kathy', 'bob', 'Nate']
True

##### Indexing a List

In [10]:
# list_names[start:, stop:, step]

#Single Index
print(names[0])

# Print starting at index 1 going to end.
print(names[1:])

# Print starting at the beginning of a list up until a number.
print(names[:2])

# Print starting at index 1 and going up by BY 2 in each iteration.
print(names[1::2])

# Print starting at the back and dispaly in reverse order.
print(names[::-1])

Max
['Cindy', 'Kathy', 'bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'bob']
['Nate', 'bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [16]:
names.append('Matthew')
print(names)

['Max', 'Cindy', 'bob', 'Nate', 'Matthew', 'Matthew', 'Matthew']

##### .insert()

In [18]:
names.insert(3, 'John')
print(names)

['Max', 'Cindy', 'bob', 'John', 'John', 'Nate', 'Matthew', 'Matthew', 'Matthew']

##### .pop()

In [14]:
# Defaults to the last value if no parameter is given.
# Pop returns the element that was removed in case you want to assign it to a variable.

my_name = names.pop(2)
print(my_name)
print(names)

John
['Max', 'Cindy', 'bob', 'Nate', 'Matthew']


##### .remove()

In [20]:
# Value to be removed rather than index
# names.remove('bob')
# print(names)

# Remove multiple matthews from list
while 'Matthew' in names:
    names.remove('Matthew')
print(names)

['Max', 'Cindy', 'John', 'John', 'Nate']

##### del()

In [21]:
# Goes by index, rather than value.
# Be careful with 'del', it can cause index errors if not used carfully.

del(names[1])
print(names)

['Max', 'John', 'John', 'Nate']

##### Concatenating Two Lists

In [27]:
# Will append two list together, will NOT add the values.

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
# List can hold ANY type of element! Including other list!
# They can go deep as you want; this is calld 'nested' 

names = ["max", "sam", "Josh", ["Sally", ["Sue", "Jim"], "Tameka"]]
print(names)
print(names[3][1][1])

##### Looping Through Lists

In [30]:
# Two ways to loop through a list! One by index; the other is by using the 'in' keyword.

# By index
for i in range(len(names)):
    print(names[i])
    
# loop with 'in'
for name in names:
    print(name)

max
sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']
max
sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [5]:
n = 1
while True:
    cube = n ** 3
    if cube > 1000:
        break
    print(cube)
    n += 1

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [6]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for num in range(2, 101):
    for i in range(2, num):
        if (num % i) == 0:
            break
    else:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [7]:
age = int(input("Enter your age: "))

if age < 18:
    print("Kids")
elif age >= 18 and age <= 65:
    print("Adults")
else:
    print("Seniors")

Enter your age: 34
Adults